<!DOCTYPE>
<html>
<head>
  <title>&lrm;</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/main.css">
  {{{block head}}}
</head>
<body class="fonts-loaded">
  <main>
    {{{body}}}
  </main>
</body>
</html>
