{{!< main}}

<div class="bkgd broken"></div>
<div class="container">
  <div class="t3 glass broken">T3<span class="glass broken">Tang Tech Team</span></div>
  <p>{{resource}}</p>
  <p class="illness">Not Found</p>
</div>
