{{!< main}}

<div class="bkgd"></div>
<div class="container">
  <div class="t3 glass">T3<span class="glass">Tang Tech Team</span></div>
  <p>Environment: {{env.NODE_ENV}}</p>
  <p class="healthy">Healthy</p>
</div>
